.fb-container {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fb-container .tuner {
    height: 250px;
    width: 10%;
    justify-content: space-around;
    background-color: #272727;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-left: .5%;
    box-shadow:  3px 3px 3px #242424;
}
.fb-container .tuner .note {
    z-index: 3;
    width: 60px;
    
}

.fb-container .Fretboard {
    width: 80%;
    height: 250px;
    /* border: 2px solid; */
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #0d0b08b9;
    /* overflow: scroll; */
}

.fb-container .Fretboard .fret {
    position: relative;
    border-right: 2px solid #b1b1b1;
    border-radius: .5em;
    align-items: center;
    justify-content: space-evenly;
}
.fb-container .Fretboard .fret .note {
  width: 40px;

}
.fb-container .Fretboard .fret .dot {
    position: absolute;
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: #fafafa;
}

.fb-container .Fretboard .fret .octave {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
