* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}


.App {
  width: 100vw;
  height: 100vh;
  align-items: center;  
  justify-content: center;
}

.note {
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #004cff;
  color: #dedede;
  border-radius: 1em;
  font-size: 1.05em;
  font-weight: 700;
  z-index: 99;
}

.active {
  visibility: visible;
}

.disabled {
  visibility: hidden;
}

.active-root {
  background-color: #ffbf00;
  color: #4f4f4f;
}

.disabled-root {
  background-color: #999999;
  color: #4f4f4f;
}

ul {
  list-style: none;
  padding-left: 0;
}