.DataDisplay {
    width: 25%;
    height: 40%;
    border: 5px solid #aeacac;

    border-radius: 1.3em;
    /* padding: 3%; */
    /* justify-content: space-around; */
    align-items: center;
}

.DataDisplay section {
    height: 10%;
    width: 80%;
    /* margin: 3%; */
    /* border: 5px solid #aeacac; */
    
    border-radius: .5em;
    justify-content: space-between;
    align-items: center;
}

.DataDisplay section strong, 
.DataDisplay section p {
    font-size: 1.5em;
}

.DataDisplay .toggle {
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #aeacac;
    border-radius: .5em;
    cursor: pointer;
    position: relative;
    margin-bottom: 5%;
}

.DataDisplay .toggle span {
    width: 50%;
    height: 100%;
    border-radius: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    font-weight: 600;
}
.DataDisplay .toggle span.content {
    background-color: #0022ff;
    color: #dfd400;
}

.DataDisplay button {
    width: 55%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25em;
}

.settings-modal {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    width: 50%;
    height: 30vh;
    justify-content: center;
    background-color: #42555b;
    color: #c4c4c4;
    padding: 2%;
    margin: 0 auto;
    margin-top: 50%;
    border-radius: 1em;
    z-index: 99;
}
